* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #232c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;

  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translateX(0px);
  transition: transform 0.2 linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.container {
  position: relative;
}

.title {
  font-family: "Bebas Neue", cursive;
  line-height: 64px;
  font-size: 5em;
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat {
  color: #b5b5b5;
}
.par {
  color: #5da753;
}
.key1,
.key2 {
  color: #8a2be2;
}
.pro {
  color: #ffa44d;
}

@media screen and (max-width: 770px) {
  .title {
    font-size: 4em;
    line-height: 54px;
  }
}

@media screen and (min-width: 540px) {
  .title {
    font-size: 5em;
    line-height: 64px;
  }
}

@media screen and (max-width: 305px) {
  body {
    min-height: 100%;
  }
  .title {
    font-size: 2em;
    line-height: 27px;
  }
}
